.card {
    flex-grow: 1;
    background: var(--welcome-card-bg);
    border-radius: 16px;
    border: 1px solid rgba(112, 112, 112, 1);
    display: flex;
    margin: 20px 16px 90px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > img {

    }

    > p {
      margin-top: 40px;
      text-align: center;
      font-size: 32px;
      font-weight: 400;
    }
  }

.actions {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: var(--z-index-bottom-nav);
    background: var(--welcome-bg-color-end);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    font-size: 32px;
    font-weight: 700;
    color: var(--welcome-text-color);

    > .fake {
      visibility: hidden;
    }
  }