.menu {
  fill: var(--navbar-color);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-mask-bg);

  &_inner {
    background: var(--overlay-bg);
    width: 80vw;

    > header {
      background: var(--main);
      color: var(--button-text-color);
      padding: 12px 16px;
    }

    > main {
      .actions {
        text-align: right;

        > button {
          border: 1px solid var(--input-border-color);
          border-radius: var(--button-border-radius);
          padding: 4px 12px;
          margin-top: 8px;
          margin-left: 12px;
        }
      }
    }
  }
}