@import "./assets/stylesheets/reset";
@import "./assets/stylesheets/helper";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-family: $font-hei;
  line-height: 1.5;
}
.bill_tabs_nav{
  justify-content: flex-start;
  & > &_item{
    flex-grow: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}